* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
  background: linear-gradient(
  to top,
  #d3d3d3 0%
  #e0e0e0 25%
  #efefef 50%
  #d9d9d9 75%
  #bcbcbc 100%
  );
}

.box {
  color: #1e1e22;
  --color-active:#ff0000;
  --number-thickness:1.5vmin;
  --number-lenght:4.5vmin;
  --number-gap:0.1vmin;
  display: flex;
  gap: calc(var(--number-thickness) * 1.5);
  background-color: #060606;
  border: calc(var(--number-thickness) * 1.5) solid #363636;
  border-radius: calc(var(--number-thickness) * 3);
  padding: calc(var(--number-thickness) * 2);
  box-shadow: 0 6vmin 20vmin rgba(0,0,0,0.6);
}

.colon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: calc(var(--number-thickness) * 2.5);

}

.colon::before,
.colon::after{
  content: "";
  width: var(--number-thickness);
  height: var(--number-thickness);
  border-radius: 50%;
  background-color: var(--color-active);
  filter: drop-shadow(0 0 1vmin var(--color-active));
}

.box .number {
  display: grid;
  /* 数字单个 led灯 之间的间距 */
  gap: var(--number-gap);
  /* 使用grid-template 来布局7个led灯的位置大小 */
  grid-template:
   ".... r1c2 ...." var(--number-thickness)
   "r2c1 .... r2c3" var(--number-lenght)
   ".... r3c2 ...." var(--number-thickness)
   "r4c1 .... r4c3" var(--number-lenght)
   ".... r5c2 ...." var(--number-thickness) / 
   var(--number-thickness) var(--number-lenght) var(--number-thickness);
}

.box .number span {
/* 每个led灯的元素  */
  grid-area: var(--ga-name);
  /* 数字基础色 */
  background-color: var(--color);
  /* 圆角 */
  border-radius: var(--number-thickness);
} 

.box .number span.active {
  /* 数字亮起来的颜色 */
  background-color: var(--color-active);
  /* 灯光亮起来的一点扩散阴影 */
  filter: drop-shadow(0 0 0.75vmin var(--color-active));
}
