<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app" class="demo">
    <select v-model="selected">
      <option v-for="option in options" :value="option.value">
        {{ option.text }}
      </option>
    </select>
    <span>选择的是: {{ selected }}</span>
  </div>
  
  <script>
  const app = {
    data() {
      return {
        selected: 'www.runoob.com',
        options: [
          { text: 'Runoob', value: 'www.runoob.com' },
          { text: 'Google', value: 'www.google.com' },
          { text: 'Taobao', value: 'www.taobao.com' }
        ]
      }
    }
  }
  
  Vue.createApp(app).mount('#app')
  </script>
</body>
</html>